*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #D7DBD7;
}
header{
    height: 150px;
    width: 100vw;
    background-color: #009688;
    position: relative;
    
}
#container{
    width: 1000px;
    
    margin-left: auto;
    margin-right: auto;
    padding: 0;

    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;

    display: flex;
    
}
#io{
    width: 350px;
    background-color: #EAEAEA;
    
    
}
#io img{
    width: 40px;
    height: 40px;
    
}
#icons-io{
    color: #B1B1B1;

}
#altri{
    width: calc(100vh - 300px);
    background-color: #EAEAEA;
    position: relative;
    
    
}
#altri img{
    width: 40px;
    height: 40px;
    
}
#altri .accesso{
    font-size: 10px;
    color: #838A99;
}
#altri .user{
    font-size: 15px;
}
#icons-altri{
    color: #B1B1B1;

}
#notifiche{
    background-color: #8EDAFC;
}
#icon-notifiche{
    width: 50px;
    height: 50px;
    color: #8EDAFC;
    object-fit: contain;
}
#notifiche a{
    color: #618FA7;
}
#chat{
    overflow: hidden;
}
#chat img{
    width: 50px;
    height: 50px;
}
#chat span{
    font-size: 10px;
    color: #C4C6C9;
}
#contacts{
    border-top: 0.2px solid #C4C6C9;
}
#messages{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}